*{
    background: #f3f5fc;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    zoom: 95%;
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    width: 8%;
}

main{
    display: flex;
    margin-bottom: 40px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 90px;
}

::placeholder{ color: #0A3871;}

.text-area:focus{ outline: none }

.signo{
    float:left;
    margin: 0 20px 20px 0;
}

.mensaje{
    border: none;
    background: white;
    background-image: url("images/no-text.png");
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 24px;
    color: #495057;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: sticky;
}

.mensaje:focus{ 
    border: none;
}

.información{
    font-family: Inter;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    background: #0A3871;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    background: #D8DFE8;
    color: #0A3871;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    background: white;
    color: #0A3871;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #0A3871;
    cursor: pointer;
    margin-top: 110px;
    margin-left: 108px;
    position: sticky;
}

footer {
    text-align: center;
    font-weight: bold;
}

footer img{
    width: 30x;
    height: 30px;
}

.logo-linkedin {
    margin: 0 5px 0 10px;
}

.logo-github {
    margin: 0 5px 0 5px;
}

footer img:hover{
    cursor: pointer;
}